.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        user
      %ul.main-header__left-box__member-list
        Member:
        %li.main-header__lerft-box__member-list__member
    %a{ href:'#' }
      .main-header__edit-btn 
        edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker
          masa
        %p.message__upper-info__date
          2019/11/20(wed) 17:43:01
      %p.message__text
        おはよう！
    .message
      .message__upper-info
        %p.message__upper-info__talker
          masa
        %p.message__upper-info__date
          2019/11/20(wed) 17:43:34
      %p.message__text
        今日は夜から雨！
  .form
    %form
      .input-box
        %input{type:"text", class:"input-box__text", placeholder:"type a message"}
        %label{class:"input-box__image"}
          = icon('fas', 'image')
          %input{type:"file", class:"input-box__image__file"}
      %input{type:"submit", class:"submit-btn"}        
